@media (max-width: 1310px) {
    .header__wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: initial;
        padding-top: 40px; 
        padding-bottom: 20px;       
    }

    .header__wrapper {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .header__nav {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .header__basket {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: end;
    }

    .about__wrapper {
        background: url(../images/about__wrapper__bg.png) no-repeat right -50px top 200px  #F9F8F8;;
        justify-content: start;
        background-size: 50%;
    }
}

@media (max-width: 1110px) {
    .testimonial__wrapper {
        grid-template-columns: auto;
    }

    .testimonial__text {
        max-width: 576px;
    }

    .testimonial__line {
        width: 576px;
    }

    .testimonial__items {
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(2, 250px);
        column-gap: 50px;
        row-gap: 30px;
        justify-content: center;
    }

    .contact__form {
        padding: 100px 30px;
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 990px) {
    .home__wrapper {
    
        padding-top: 140px;
        padding-bottom: 140px;
    }
        
    .home__title {
        font-size: 45px;
        line-height: 58.5px;
    }

    .about__wrapper {
        padding-bottom: 140px;
        background:#F9F8F8;
        justify-content: center;
        justify-items: center;
    }

    .about__title, .about__text,
    .about__advantage__text {
        text-align: center;
    }

    .about__advantages {
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto;
    }

    .about__advantage {
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto;
        justify-items: center;
        row-gap: 10px;
    }

    .about__advantage__img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .about__advantage__title {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .about__advantage__text {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .offer__wrapper {
        padding-bottom: 140px;
    }
    
    .contact__form__title {
        font-size: 40px;
        line-height: 48px;
    }
}